@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-flow {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient-blur {
    background: linear-gradient(135deg, #6a1b9a, #283593, #1c1c1c, #1b5e20);
    background-size: 300% 300%;
    animation: gradient-flow 20s ease infinite;
    filter: blur(8px);
  }
  